@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<h3>Copyright 뷰 컴포넌트 호출</h3>@await Component.InvokeAsync("Copyright") 
