@page
@model DotNetNote.Views.HelperMethodDemo.SelectDemoModel
@{
    Layout = null;
}

<h3>드롭다운 리스트</h3>

@Html.DropDownList("lstSelect", new SelectList(new[] { "진행상태", "주문 확인 중", "진행 중", "발송완료", "주문 취소"}))

<h3>리스트박스</h3>

@Html.ListBox("lstHobby", new MultiSelectList(new[] { "항목1", "항목2"}))
